<%- include('../layout/admin_header.ejs') %>
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Product Details: </h2>
        <div>
            <a href="/admin/products" class="btn btn-outline-primary"><i class="fas fa-list"></i> Product List</a>
            <a href="/admin/products/edit-product/<%= product._id %>" class="btn btn-outline-secondary"><i class="fas fa-edit"></i> Edit Product</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                
                   <% if(product.product_images) {%>
                        <img src="/imgs/products/<%= product.product_images[0] %>" alt="" class="img-fluid rounded">
                  <% } if(!product.product_images) {%>
                        <div class="text-center p-4 bg-secondary text-white rounded">No Image Available</div>
                    <% } %>
                </div>
                <div class="col-md-8">
                    <h3></h3>
                    <p><strong>Brand: <%= product.product_brand %></strong></p>
                    <p><strong>Category: <%= product.product_category.name %></strong> </p>
                    <p>Stock: <%= product.product_quantity %></p>
                    <p><strong>Price:</strong> ₹ <%= product.product_regular_price %></p>
                    <p><strong>Offer Price:</strong> ₹ <%= product.product_sale_price %></p>
                    <p><strong>Status:</strong> 
                     <% if(product.isActive) {%>
                            <span class="badge bg-success">Active</span>
                     <% } if(!product.isActive) {%>
                            <span class="badge bg-danger">Inactive</span>
                       <% } %>
                    </p>
                    <!-- <p><strong>Created At:</strong> </p>
                    <p><strong>Last Updated:</strong> </p> -->
                    <h4 class="mt-4">Description</h4>
                    <p><%= product.product_description %></p>
                    <h4 class="mt-4">Additional Images</h4>
                    <!-- <a href="" class="btn btn-outline-primary mb-3"><i class="fas fa-upload"></i> Add Images</a> -->
                    <div class="row">
                       <% product.product_images.forEach(image=> {%>
                            <div class="col-md-3 mb-3">
                                <div class="card">
                                    <img src="/imgs/products/<%= image %>" class="card-img-top" alt="Product Image">
                                    <div class="card-body">
                                        <form method="post" action="" style="display:inline;">
                                            
                                            <!-- <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash"></i> Delete</button> -->
                                        </form>
                                    </div>
                                </div>
                            </div>

                            
                            <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../layout/admin_footer.ejs') %>